<a href="https://colab.research.google.com/github/Raunak-15/collab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = (12, 43, 3, 87, 9, 71, 19, 62, 50)

# list1 = sort(list1)
print(list1)

(12, 43, 3, 87, 9, 71, 19, 62, 50)

In [ ]:
dict1 = {
    'name':'Raunak' , 'class':'cyber security'
}

print(dict1)

{'name': 'Raunak', 'class': 'cyber security'}

In [ ]:
tup1 = [12, 34, 67, 92]

print(tup1)

[12, 34, 67, 92]